{% block content %}

    <link href="{{ site_url }}/resources/assets/css/flylshop.bootstrap.min.css"
          rel="stylesheet">
{% endblock %}
<div id="content">{% block body %}{% endblock %}</div>
<div id="footer">
    <script src="{{ site_url }}/resources/assets/js/CartRabbit.min.js"></script>
    {% block footer %}

    {% endblock %}
</div>