<div align="left">
    <a href="?page=cartrabbit-config&tab=product&opt=general">
        <input type="button" class="btn btn-default" value="General">
    </a>
    <a href="?page=cartrabbit-config&tab=product&opt=display_product">
        <input type="button" class="btn btn-default" value="Product Display">
    </a>
</div>