<div align="left">
    {% for name, path in option_menu %}
        <a href="{{ path }}">
            <input type="button" class="btn btn-default" value="{{ name }}">
        </a>
    {% endfor %}
</div>