<div align="left">
    <a href="?page=cartrabbit-config&tab=tax&opt=taxoptions">
        <input type="button" class="btn btn-default" value="Tax Options">
    </a>
    <a href="?page=cartrabbit-config&tab=tax&opt=taxes">
        <input type="button" class="btn btn-default" value="Taxes">
    </a>
    <a href="?page=cartrabbit-config&tab=tax&opt=tax_classes">
        <input type="button" class="btn btn-default" value="TaxesClasses">
    </a>
</div>
